@layer base {
  html,
  body {
    min-height: 100dvh;
    width: 100%;
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-kerning: normal;
    font-variant-ligatures: common-ligatures;
    font-display: swap;
  }

  html {
    font-size: 62.5%;
  }

  * {
    box-sizing: border-box;
  }

  html::-webkit-scrollbar,
  body::-webkit-scrollbar,
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  html,
  body,
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  input::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
  }
}
